		<div class="actions">
			
			<ul class="list-group">			
				<li class="list-group-item"><?php echo $this->Html->link(__('List Scenes'), array('action' => 'index'), array('class' => '')); ?> </li>
			</ul><!-- /.list-group -->
			
		</div><!-- /.actions -->
