#header{margin-top:20px}
#page-container{margin-bottom:20px}
#url-rewriting-warning{display:none}

body {
	margin: 10px;
}

.hidden {
	display:none;
}

#progress {
	width: 30px;
}

h4 {
	overflow-x: hidden;
	
	height: 3.3em;
	overflow-y: hidden;
}

div.alternate_0 div div.device,
div.alternate_0 div div.scene {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWPYuXOnLwM6IE0QAFKbCeGIk198AAAAAElFTkSuQmCC) repeat;
}
div.alternate_1 div div.device,
div.alternate_1 div div.scene {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAI7d+70JZXDwMAAAFKbCeFppyYwAAAAAElFTkSuQmCC) repeat;
}

div.device,
div.scene {
	border: 2px solid #DDDDDD;	
}

div.room_id_1 {
	border-color: #00A0B0;	
}

div.room_id_2 {
	border-color: #C44D58;
}

div.room_id_3 {
	border-color: #6A4A3C;
}

div.room_id_4 {
	border-color: #FF6B6B;
}

div.room_id_5 {
	border-color: #CC333F;
}

div.room_id_6 {
	border-color: #EB6841;
}

div.room_id_7 {
	border-color: #EDC951;
}

div.room_id_8 {
	border-color: #556270;
}

div.room_id_9 {
	border-color: #4ECDC4;
}

div.room_id_10 {
	border-color: #C7F464;
}

div.actions {
	padding-bottom: 10px;
}

div.device .btn {
	padding: 6px 8px;
	width: 48%;
}

div.scene .btn {
	padding: 6px 8px;
	width: 100%;
}

.nav-tabs.nav-justified > li > a {
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.1;
	font-weight: 500;
}

.slider.slider-horizontal {
	margin-left: 14px;
}

div.device .slider.slider-horizontal {
	margin-left: 0px;
	width: 130px;
}